#open_layers_zoom_map {
    width: 712px;
    height: 456px;
    border: 1px solid #ccc;
    clear: both;
}
#open_layers_zoom_map_more {
    clear: both;
}
#open_layers_zoom_map_more a {
    margin-right: 5px;
}
.open_layers_zoom_map_full_window {
    height: 100% !important;
    width: 100% !important;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #808080;
    z-index: 701;
    clear: both;
}
.open_layers_zoom_map_full_window_panel {
    width: 18px;
    height: 54px;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

/* fullscreen control button; icon from https://github.com/fredj/openlayers-fullscreen */
.open_layers_zoom_map_full_window_buttonItemInactive,
.open_layers_zoom_map_full_window_buttonItemActive {
    background-image: url('../javascripts/img/fullscreen.png');
    width: 20px;
    height: 20px;
}
.open_layers_zoom_map_full_window_buttonItemInactive {
    background-position: 0 0;
}
.open_layers_zoom_map_full_window_buttonItemActive {
    background-position: 0 -25px;
}

.olControlOverviewMapContainer {
    position: absolute;
    left: 0;
    bottom: 0;
}
.olControlOverviewMapElement {
    background-color: #00008B;
    padding: 10px 10px 10px 10px;
}
.olControlOverviewMapMinimizeButton {
    cursor: pointer;
    right: 0;
    top: 0;
    z-index: 1001;
}
.olControlOverviewMapMaximizeButton {
    bottom: 80px;
    cursor: pointer;
    right: 0;
    top: -18px;
    left: 0;
}
.olControlOverviewMapExtentRectangle {
    background-image: url("../javascripts/img/blank.gif");
    border: 2px dotted red;
    cursor: move;
    overflow: hidden;
}
.olControlOverviewMapRectReplacement {
    background-image: url("../javascripts/img/overview_replacement.gif");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: move;
    overflow: hidden;
}
.olControlPermalink {
    bottom: 1.5em;
    display: block;
    font-size: smaller;
    position: absolute;
    right: 3px;
}
.olControlZoomPanel {
    left: 14px;
    top: 71px;
}
.olControlZoomPanel div {
    background-image: url("../javascripts/img/zoom-panel.png");
    cursor: pointer;
    height: 18px;
    position: absolute;
    width: 18px;
}
.olControlZoomPanel .olControlZoomInItemInactive {
    background-position: 0 0;
    left: 0;
    top: 0;
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    background-position: 0 -18px;
    left: 0;
    top: 18px;
}
.olControlZoomPanel .olControlZoomOutItemInactive {
    background-position: 0 18px;
    left: 0;
    top: 36px;
}
.olControlPanZoomBar div {
    font-size: 1px;
}
